@tailwind base;

button {
  @apply text-xl;
  @apply inline-block;
  @apply rounded;
  @apply bg-indigo-500;
  @apply mx-1;
  @apply w-12;
  @apply min-w-0;
}

@tailwind components;

@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
